@import "../Button/Button.module.scss";

.outlinedBtn {
  @extend .btn;
  background-color: theme("colors.general.white");
  color: theme("colors.primary.500");
  text-transform: uppercase;
  border: 1px solid theme("colors.primary.400");

  &:hover {
    background-color: theme("colors.primary.50");
    color: theme("colors.primary.500");
  }

  padding: theme("paddings.button.md");
}