@import '../Button/Button.module.scss';

.primaryBtn {
  @extend .btn;
  background-color: theme("colors.primary.500");
  color: theme("colors.general.white");
  text-transform: uppercase;

  &:hover {
    background-color: theme("colors.primary.600")
  }
}

.mdPrimaryBtn {
  @extend .mdBtn;
  @extend .primaryBtn;
}

.lgPrimaryBtn {
  @extend .lgBtn;
  @extend .primaryBtn;
}
